.navbar{
    background-color: rgb(201, 234, 73);
    display: flex;
     justify-content: flex-end;
    
}
a{
    margin-left: 20px; 
    text-decoration: none;
    color: white;
}
.about{
    background-color: rgb(21, 159, 209);
}
.cards{
    display:flex;
    justify-content: center;
}
.card1{

   text-align: center;
}
.card2{

   text-align: center;
}
.card3{

   text-align: center;
}
img{
    height: 200px;
width: 200px;
}
/Tablet View/
@media  (max-width:800px) {
  .about{
    background-color: burlywood;
  }
  .navbar{
    background-color: rgb(166, 5, 206);
  }
  .cards{
    display:block;
    
  }
}
 /Mobile View/
 @media (max-width:600px) and (min-width:300px){
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    img{
        margin: 10px;
    }
    .cards{
        background-color: rgb(17, 239, 187);
        
        
    }
    .card1{
        border: 10px solid rgb(249, 7, 47);
        margin-bottom: 20px;
    }
     .card2{
        border: 10px solid rgb(209, 107, 124);
        margin-bottom: 20px;
    }
     .card3{
        border: 10px solid pink;
        margin-bottom: 20px;
    }
 }